* {
    box-sizing: border-box;
    padding: 0 0;
    margin: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 10px;
}

#title {
    margin-bottom: 10px;
}

#container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#tribunais_superiores, #justica_federal, #justica_estadual, #justica_do_trabalho, #justica_eleitoral, #justica_militar{
    margin-left: 30px;
    display: none;
}

li {
    list-style:none;
}

#tribunais_superiores li div label,
#justica_federal li div label,
#justica_estadual li div label,
#justica_do_trabalho li div label,
#justica_eleitoral li div label,
#justica_militar li div label
{
    display: flex;
    align-item: center;
}


.buscar_form_ts input, .buscar_form_jf input, .buscar_form_je input, .buscar_form_jt input, .buscar_form_jel input, .buscar_form_jm input {
    padding: 5px;
    border-radius: 5px;
}

.buscar_form_ts button, .buscar_form_jf button, .buscar_form_je button, .buscar_form_jt button, .buscar_form_jel button, .buscar_form_jm button {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
}

.form_li_ts, .form_li_jf, .form_li_je, .form_li_jt, .form_li_jel, .form_li_jm {   
    border:none !important;
}
